body
{
  font-family: Tahoma, Arial;
  font-size: 12px;
}

table
{
  width: 100%;
  background-color: #555555;
  border-spacing: 1px;
}

th
{
  text-align: left;
  background-color: #c0c0c0;
  padding: 5px;
}

th.sortable
{
  cursor: pointer;
}

td
{
  padding: 5px;
}

td.massaction
{
  width: 22px;
}

td.info
{
  width: 40px;
}


td.icons
{
  width: 40px;
}

tr:nth-child(odd)
{
  background-color: #dddddd;
}

tr:nth-child(even)
{
  background-color: #ededed;
}

.icon 
{
  display: inline-block;
  width: 16px;
  height: 16px;
}

.application
{
  background: url("images/appicons/application.png") no-repeat;
  margin-right: 4px;
  float: left;
}

.description
{
  background: url("images/description.png") no-repeat;
}

.description[title=""]
{
  visibility: hidden;
}

.stacktrace
{
  background: url("images/stacktrace.png") no-repeat;
}

.stacktrace[title=""]
{
  visibility: hidden;
}

.download
{
  background: url("images/download.png") no-repeat;
  cursor: pointer;
}

.delete
{
  background: url("images/delete.png") no-repeat;
  cursor: pointer;
  margin-left: 4px;
}

a
{
  color: #2366B3;
  text-decoration: none;
}

a:hover
{
  color: red;
}

.massaction_panel
{
  padding: 5px;
  border: solid 1px #555555;
  background-color: #ededed;
  display: none;
}

/* Custom product icons */

.LiveResponse
{
  background: url("images/appicons/liveresponse.png") no-repeat;
}

.KayakoDesktop
{
  background: url("images/appicons/kayakodesktop.png") no-repeat;
}

.OnSiteViewer
{
  background: url("images/appicons/onsite.png") no-repeat;
}